.container {
	padding: 8rem 13.75rem 0rem 34rem;

	&--smallpadding {
		padding-top: 2.2rem;
	}

	&__inner {
		position: absolute;
		top: 11.2rem;
		bottom: 3.4rem;
		left: 34rem;
		right: 13.75rem;
	}
}

.row {
	height: 50%;
	margin: 0 -1.25rem;
	font-size: 0;
}

.col-3 {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	padding: 0 1.25rem;
	font-size: @font-size;
	text-align: left;
}

// Переопределяем стили плагина скролла

.fp-tableCell {
	vertical-align: top;
}