/* overlay at start */
.mfp-fade.mfp-bg {
	opacity : 0;

	-webkit-transition : all .15s ease-out;
	transition : all .15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity : .8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity : 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	opacity : 0;

	-webkit-transition : all .15s ease-out;
	transition : all .15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity : 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity : 0;
}

.mfp-zoom-out-cur {
	cursor : default;
}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor : pointer;
	font-family: 'Sf UI Display', sans-serif;
	font-weight: 100;
	font-size: 65px;
	right: -55px;
	top: 10px;
}

.mfp-figure:before {
	content: '';
	position: absolute;
	width: 100%;
	border: 1px solid @color__gold;
	right: -18px;
	bottom: 22px;
	top: 56px;
	z-index: -1;
}